:root {
	--main-font-family: "Roboto", sans-serif;
	--second-font-family: "Raleway", sans-serif;
	--main-txt-color: #212121;
	--grey-txt-color: #757575;
	--white-txt-color: #ffffff;
	--dark-background-color: #2f303a;
	--light-grey-backgorund-color: #f5f4fa;
	--hover-color: #2196f3;
}